<section class="recipes">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4 class="center-align recipes__create_title">Ceviche</h4>
			</div>
		</div>
		<div class="recipes__form">
			<div class="row">
				<div class="col s12">
					<div class="row">
						<div class="col s4">
							<label for="last_name">Category</label>
						</div>
						<div class="col s8">
							<span class="recipe__category chip">Pescado</span>
						</div>
						<div class="input-field col s12">
							<select>
								<option value="" disabled selected>Category</option>
								<option value="1">Pastas</option>
								<option value="2">Salads</option>
								<option value="3">Meat</option>
								<option value="3">Desserts</option>
							</select>
						</div>
						<div class="input-field col s12">
							<input id="last_name" type="text" class="validate">
							<label for="last_name">Chef</label>
						</div>
						<div class="input-field col s12">
							<span class="subtitle">Ingredients</span>
						</div>
						<div class="input-field col s10">
							<input id="last_name" type="text" class="validate">
							<label for="last_name">Ingredient</label>
						</div>
						<div class="input-field col s2">
							<input id="last_name" type="text" class="validate">
							<label for="last_name">Ammount</label>
						</div>
						<div class="input-field col s12 no-margin-top">
							<span class="ingredient__add">Add ingredient</span>
						</div>
						<div class="input-field col s12">
							<textarea id="textarea1" class="materialize-textarea"></textarea>
							<label for="textarea1">Preparation</label>
						</div>
						<div class="col s12 no-margin-top">
							<a href="#!" class="btn waves-effect teal recipe__btn_create">Add Recipe</a>
							<a href="#!" class="btn waves-effect red recipe__btn_create">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>